<div class="container">
  <!-- Loading spinner -->
  <div *ngIf="isLoading" class="d-flex justify-content-center loading">
    <div class="spinner-border text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <!-- Projector Page -->
  <div *ngIf="!isLoading" class="projector-page">
    <div class="preview">
      <img class="preview-img border" [src]="presentation.uploadFile">
    </div>
    <div class="info-page">
      <div class="presentation-name panel">
        <span class="title">{{presentation.fileName}}</span>
      </div>
      <div class="current-slide panel">
        <span class="subtitle">Current slide at {{currentSlide}}/{{totalSlides}}</span>
      </div>
      <div class="owner panel">
        <span class="subtitle {{isOwnerPresent ? 'text-success' : 'text-danger'}}">{{isOwnerPresent ? 'Owner is present' : 'Owner is not present'}}</span>
      </div>
      <div class="users-online panel text-success">
        <span class="subtitle">{{usersOnline}} users connected</span>
      </div>
    </div>
  </div>
</div>